<article id="lead">
  <h1>New Lead</h1>
  <form>
    <fieldset>
      <dl>
        <dt><label>First Name</label></dt>
        <dd>{{view Ember.TextField value=fields.firstName}}</dd>
      </dl>
      <dl>
        <dt><label>Last Name</label></dt>
        <dd>{{view Ember.TextField value=fields.lastName}}</dd>
      </dl>
      <dl>
        <dt><label>Email</label></dt>
        <dd>{{view Ember.TextField value=fields.email}}</dd>
      </dl>
      <dl>
        <dt><label>Phone</label></dt>
        <dd>{{view Ember.TextField value=fields.phone}}</dd>
      </dl>
    </fieldset>
  <fieldset class="actions">
    <input type="submit" value="Create Lead" {{action "createLead"}}>
  </fieldset>
  {{#if showError}}
    <div class="error">Leads must have a first and last name.</div>
  {{/if}}
  </form>
</article>
